

html,
body {
  color: #1e272e;
  /* font-family: 'Helvetica', 'Verdana', sans-serif; */
  font-family: 'Comfortaa', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: #eee;
}

:link, :visited {
  color: #eee;
  outline: 0;
  text-decoration: none;
}

/**
 * Header
 */

 .background-img {
  background-image: url(../images/GabriolaXmas.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

 }

 .header {
   display: flex;
   height: inherit;
   background:rgba(134, 88, 49, 0.9);
 }

.header-content {
  width: 80%;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header-img img{
  width: 40vh;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: rgba(60, 64, 198,1.0) solid 3px;
}

.header-text {
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column ;
  align-self: center;
}

.header b {
  color: rgba(75, 207, 250,1.0);
}

.header h1 {
  flex: 1;
  font-weight: 200;
  font-size: 2em;
  margin: 0;
}

.header hr {
  display: block;
  border: 0.25vh solid rgba(255, 255, 255,0.9);
  border-radius: 5px;
}

.header-links-container {
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column ;
  margin: auto;
}

.header-link {
  font-size: 1.5em;
  margin: 1vh 0;
}

.header-link:hover {
  font-weight: bold;
}

.section-header{
  text-align: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Jobs Section
 */

 .background-employment {
  background-image: url(../images/render-farm.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
 }

 .employment-section {
   display: block;
   padding: 1vh;
  height: 100vh;
  background-color: rgba(72, 84, 96,0.9);
 }

 .slideshow-wrapper {
  height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2vh 2vh;
}
 
 .slideshow-container {
   width: 90vw;
  min-height: 75vh;
}

.slide-container {
  display: flex;
  color: rgb(30, 39, 46);
  min-height: inherit;
  justify-content: center;
  align-items: center;
}

.slide-contents {
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column ;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 1vw;
}

.job {
  display: block;
  display: none;
  border: #000 solid 2px;
  background: rgba(210, 218, 226,0.9);
  border-radius: 5px;
  padding: 2vh;
  height: fit-content;
}

.job-img-title{
  display: flex;
}

.job-img-wrapper {
  display: flex;
  background: #eee;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
  border: 1px solid #3c40c6;
  border-radius: 5px;
  width: 120px;
  height: 120px;
}

.job-img-wrapper img{
  width: inherit;
  height: inherit;
}

.company-title {
  display: block;
  margin: auto 0px;
  margin-left: 10px;
}

.company-title h3{
  margin: 0.8em 0;
  font-size: 1em;
}

.company-title h4{
  margin: 0.8em 0;
  font-size: 0.8em;
}

.content ul{
  list-style-type: circle;
  padding-inline-start: 25px;
}

.job-title {
  text-align: left;
  padding-left: 20px;
}

.accomplishment {
  text-align: left;
  padding: 5px;
}


.numbertext {
  font-size: 12px;
  margin-right: 0px;
}

.icons {
  max-width: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row ;
  margin: 0px auto;
}

 .icon {
   cursor: pointer;
   margin: 1vw 4vw;
   height: 50px;
   width: 25%;
   background-color: #bbb;
   border: #000 solid 1px;
   background: rgba(210, 218, 226,0.9);
   border-radius: 5px;
   transition: background-color 0.6s ease;
 }

 .icon img{
   display: block;
  height: inherit;
  margin: auto;
}
 
 .active, .icon:hover {
   background-color: #717171;
 }

 .nav-button-wrapper{
  height: 75vh;
  display: flex;
  align-items: center;
  margin: auto;
 }

 .nav-button-prev, .nav-button-next {
   color: #fff;
   cursor: pointer;
   font-weight: bold;
   transition: 0.6s ease;
 }
 
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(113, 113, 113,0.8);
 }
 
 /* Fading animation */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @-webkit-keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }
 
 @keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }
@keyframes expand {
  0% {
    width: 282px;
    height: 315px;
  }
  100% {
   width: 362px;
   height: fit-content;
  }
}

@keyframes unexpand {
  0% {
    width: 362px;
    height: fit-content;
  }
  100% {
    width: 282px;
    height: 315px;
  }
}

/**
 * Education section
 */

 .background-education {
  background-image: url(../images/ubc-campus.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
 }

 .education {
  height: 100vh;
  padding: 1vh;
  display: block;
  background-color: rgba(60, 64, 198,0.9);
}

.education-skills-wrapper {
  height: inherit;
  margin: auto;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
}

.flex-item {
  display: block;
  border: #000 solid 2px;
  background: rgba(210, 218, 226,0.9);
  border-radius: 5px;
  padding: 2vh;
  color: rgb(30, 39, 46);
  margin: 1vh;
}

 .ubc-section {
  display: block;
  height: fit-content;
}

.ubc img{
  width: 250px;
  background: #fff;
  border-radius: 5px;
  border: solid #222 1px;
}

/**
 * Contact Section
 */

 .background-contact {
  background-image: url(../images/ubc-campus.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
 }

.contact {
  padding: 5px;
  padding: 5px;
  display: block;
  background-color: rgba(75, 207, 250,0.9);
  color: rgba(210, 218, 226,1.0);
  }

.main a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

@media (max-width: 1150px) {

}